.Day {
  padding: 10px;
  /* border: red 1px solid; */
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
}
.Day > div {
  flex: 1;
}

@media (max-width: 768px) {
  .Day > div {
    font-size: 12px;
  }
}
