.Header {
  height: 60px;
  width: 100%;
  margin-bottom: 15px;
}
.Header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 3px #5bc6f7 solid;
}
.Header-container-day {
  border-bottom: 3px var(--blue) solid;
}
.Header-container-night {
  border-bottom: 3px #5bc6f7 solid;
}
.Header-logo-container {
  display: flex;
  align-items: center;
}
.Header-logo {
  height: 50px;
  margin-right: 10px;
}
.Header-form {
  /* background-color: teal; */
  display: flex;
  align-items: center;
}
.Header-input {
  width: 150px;
  border-radius: 15px;
  height: 30px;
  margin-right: 20px;
  border: none;
  /* border-bottom: 2px var(--blue) solid; */
  padding: 0 10px;
  font-size: 16px;
}
.Header-input-container {
  position: relative;
  /* background-color: yellow; */
}
.Header-input-errormessage {
  position: absolute;
  color: red;
  font-size: 12px;
  bottom: -15px;
  left: 10px;
}
.Header-search-icon {
  cursor: pointer;
  font-size: 24px;
}
