.Item {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.Item-left-container {
  max-width: 300px;
}
.Item-time {
  font-size: 12px;
}
.Item-city {
  font-size: 20px;
}
.Item-country {
  font-size: 12px;
}
.Item-weather-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: calc(80% / 2);
  top: 10px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50%;
}
.Item-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Item-favorite-btn {
  width: 200px;
  padding: 10px 0;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.Item-favorite-btn-day {
  border: #fff 2px solid;
  background-color: var(--dark-blue);
  color: #fff;
}
.Item-favorite-btn-day:hover {
  background-color: #fff;
  color: var(--dark-blue);
  border: var(--dark-blue) 2px solid;
  transition: 0.5s;
}
.Item-favorite-btn-night {
  border: #fff 2px solid;
  color: #fff;
}
.Item-favorite-btn-night:hover {
  background-color: #fff;
  color: var(--light-blue);
  transition: 0.5s;
}
.Item-star-icon {
  margin-left: 5px;
}
.Item-temp {
  font-size: 30px;
}

@media (max-width: 768px) {
  .Item-left-container {
    max-width: 100px;
  }
  .Item-city {
    font-size: 16px;
  }
  .Item-country {
    font-size: 11px;
  }
  .Item-weather-icon {
    height: 60px;
    width: 60px;
  }
  .Item-favorite-btn {
    width: auto;
    padding: 0;
  }
  .Item-favorite-btn-text {
    display: none;
  }
  .Item-favorite-btn-day {
    border: none;
    background-color: inherit;
  }
  .Item-favorite-btn-day:hover {
    background-color: inherit;
    border: none;
    transition: none;
  }
  .Item-favorite-btn-night {
    border: none;
  }
  .Item-favorite-btn-night:hover {
    background-color: inherit;
    transition: none;
  }
  .Item-temp {
    font-size: 20px;
  }
}
