.Item {
  /* height: 80px; */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.Item:hover {
  /* background-color: #ffe484; */
  /* opacity: 0.5; */
  transition: 0.5s;
}
.Item-time {
  font-size: 12px;
}
.Item-city {
  font-size: 20px;
}
.Item-weather-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: calc(80% / 2);
  top: 10px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50%;
}
.Item-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Item-favorite-btn {
  width: 200px;
  padding: 10px 0;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.Item-favorite-btn-day {
  border: #fff 2px solid;
  background-color: #007db9;
  color: #fff;
}
.Item-favorite-btn-day:hover {
  background-color: #fff;
  color: #007db9;
  border: #007db9 2px solid;
  transition: 0.5s;
}
.Item-favorite-btn-night {
  border: #fff 2px solid;
  /* background-color: #005e89; */
  color: #fff;
}
.Item-favorite-btn-night:hover {
  background-color: #fff;
  color: #007db9;
  transition: 0.5s;
}
.Item-star-icon {
  margin-left: 5px;
}
.Item-temp {
  font-size: 30px;
}
