.Main-day > div:not(:last-child) {
  border-bottom: 1px solid var(--dark-blue);
}
.Main-night > div:not(:last-child) {
  border-bottom: 1px solid var(--light-blue);
}
.Main-unknownposition {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Main-favorites-loader {
  text-align: center;
  margin-top: 20px;
}
