/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* COLORS */
:root {
  --blue: #007db9;
}

/* GLOBAL */
body {
  font-family: "Ubuntu", sans-serif;
  /* background-color: #f2faff; */
  height: 100%;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
h1 {
  font-size: 40px;
  font-weight: 800;
}

/* APP */
.App {
  height: 100vh;
  color: #fff;
}
.App-day {
  /* background-color: #f2faff; */
  background: url("./assets/day.jpeg");
  /* color: #000; */
}
.App-night {
  /* background-color: #005e89; */
  background: url("./assets/night.jpeg");
  /* color: #fff; */
}
