/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* COLORS */
:root {
  --dark-blue: #005e89;
  --light-blue: #5bc6f7;
  --yellow: #ffcc04;
  --grey: #c9c9c9;
}

/* GLOBAL */
body {
  font-family: "Ubuntu", sans-serif;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
h1 {
  font-size: 40px;
  font-weight: 800;
}
.Loader-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* APP */
.App {
  min-height: 100vh;
  height: 100%;
  color: #fff;
}
.App-day {
  background: url("./assets/day.jpeg");
}
.App-night {
  background: url("./assets/night.jpeg");
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
